<div class="container mt-4 mb-4" style="width: 500px;">
    <h2>Centro de mansajes</h2>

    <div class="mb-3">
        <label for="userEmail" class="form-label">Email</label>
        <input type="email" class="form-control" name="userEmail" id="userEmail" required>
    </div>
    <hr>

    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre" required>
    </div>
    <hr>

    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" name="apellido" id="apellido" required>
    </div>
    <hr>

    <div class="mb-3">
        <label for="edad" class="form-label">Edad</label>
        <input type="number" class="form-control" name="apellido" id="edad" required>
    </div>
    <hr>

    <div class="mb-3">
        <label for="alias" class="form-label">Alias</label>
        <input type="text" class="form-control" name="alias" id="alias" required>
    </div>
    <hr>

    <div id="chatMessages"></div>
    <div class="mb-3">
        <label for="chatMessages" class="form-label">Mensaje</label>
        <input type="text" class="form-control" name="newMessage" id="newMessage" required>
    </div>
    <button id="btnSendChatMEssage" onclick="addMessage()" class="btn btn-primary">Enviar</button>
</div>