<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tercera Entrega</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Ecommerce</a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  href="/home">Home</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Carrito</a>
                    </li>
    
                    <li class="nav-item>">
                        <a class="nav-link" href="/profile">Perfil</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Desea eliminar el producto?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- <div class="modal-body">
                    <input type="number" class="form-control"  id="popo" placeholder="1" required>
            </div> -->
            <div class="modal-footer">
              <button type="button" class="btn btn-success" id="btnBorrar" data-bs-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
    </div>
    <div class="container mt-4 mb-4" style="width: 500px;">
        <h2>Mi carrito</h2>
        <!-- <% if(carrito && carrito.productos.length > 0) { %> -->
          <table id="table" class="table table-success table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
              <tbody id="tbody">
                <!-- <% carrito.productos.forEach(producto => { %>
                    <tr class="cart" id="<%= producto.id %>" data-bs-toggle="modal" data-bs-target="#myModal">
                      <th scope="col"><%= producto.title %></th>
                          <th scope="col">$<%= producto.price %></th>
                          <th scope="col"><%= producto.cantidad %></th>
                      </tr>
                <% }) %> -->
              </tbody>
          </table>
          <!-- <span>Total: $</span>
          <span><%= carrito.total %></span>
          <br><br>
          <button type="button" class="btn btn-success" id="btnComprar" >Comprar</button>
        <% } else { %>
          <div>El Carrito esta vacio</div>
        <% } %> -->
    </div>
    <script type="module" src="js/carrito.js"></script>
</body>

</html>